<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <nav class="b-nav">
      <a href="/" class="b-nav__link">Home</a>
    </nav>
    <div class="b-register">
      <h3 class="register__title">Register</h3>
      <form class="b-form" action="/auth/register" method="POST">
        
        <label for="" class="b-form__label">
            <p class="b-form__text">Name</p>
            <input type="text" name="name">
        </label>

        <label for="" class="b-form__label">
            <p class="b-form__text">Email</p>
            <input type="text" name="email">
        </label>

        <label for="" class="b-form__label">
            <p class="b-form__text">Password</p>
            <input type="password" name="pass">
        </label>

        <button class="b-form__button" type="submit">Sign in</button>

      </form>
    </div>
  </body>
</html>