<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="b_home">
        <h1 class="b-home__heading">Welcome To Todo-App</h1>
        {{#if isAuthenticated}}
            <form action="/auth/logout" method="POST">
                <button type="submit">Logout</button>
            </form>
        {{else}}
            <div class="b-home__buttons">
                <a href="/auth/register" class="b-home__button">Register</a>
                <a href="/auth/login" class="b-home__button">Login</a>
            </div>
        {{/if}}
    </div>
</body>
</html>